# Bauwerk-specific tools
cvxpy

# Dev tools
pip>=21.1
bump2version
wheel
flake8
tox
coverage
Sphinx
twine
pytest
black==22.6
pylint==2.7.4
pre-commit

# Visualisation
ipympl

# RL tools and tracking
numpy >= 1.22
stable-baselines3
wandb
tensorboard